<%= provide(:title, "タスク登録画面") %>
<%= form_with(model: @task, local: true) do |f| %>
  <%= render "shared/error_messages", model: @task %>
  <%= f.label :name, 'タイトル', class: 'form-label background-color' %>
  <%= f.text_field :name, class: 'form-control less-length mar-bottom' %>
  <%= f.label :body, 'タスク本文', class: 'form-label background-color' %>
  <%= f.text_area :body, :size=>'60x5', class: 'form-control less-length mar-bottom' %>
  <%= f.collection_check_boxes(:category_ids, @categories, :id, :name, include_hidden: false) do |category| %>
    <%= category.check_box %>
    <%= category.text %>
  <% end %>
  <%= f.label :ended_at, '終了期限', class: 'form-style' %>
  <%= f.datetime_field :ended_at %>
  <%= f.label :status, 'タスク状態', class: 'form-style' %>
  <%= f.select :status, Task.statuses.keys.map {|k| [t("enums.task.status.#{k}"), k]}, {class: 'form-select'} %>
  <%= f.label :priority, '優先順位', class: 'form-style' %>
  <%= f.select :priority, Task.priorities.keys.map {|k| [t("enums.task.priority.#{k}"), k]} %>
  <div class='mar'>
    <%= f.submit "クリア", type: :reset, class: 'btn btn-light' %>
    <%= f.submit "登録", class: 'btn btn-primary' %>
  </div>
<% end %>
